/* Setting */

* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: #eae8fe;
}

div,
header,
ul,
li,
img,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* layout */

.title-logo {
  width: 386px;
  height: 164.12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  width: 748px;
  height: 545px;
  margin: 247px auto 0px;
}

.wrapper-inner {
  width: 360px;
}

.left-box {
  float: left;
  background-color: white;
}

.right-box {
  float: right;
}

/* design */

.item-list-detail {
  width: 94px;
  height: 130px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  text-align: center;
}

/* 콜라 정렬 */

.item-list-ul .item-list-detail {
  float: left;
  outline: 1px solid #999;
  cursor: pointer;
}
.item-list-ul .item-list-detail:hover {
  outline: 3px solid #6327FE;
}

.item-list-ul .item-list-detail:first-child {
  margin: 30px 12px 12px 27px;
}

.item-list-ul .item-list-detail:nth-child(2) {
  margin-top: 30px;
}

.item-list-ul .item-list-detail:nth-child(3) {
  margin: 30px 27px 12px 12px;
}

.item-list-ul .item-list-detail:nth-child(4) {
  margin-left: 27px;
}

.item-list-ul .item-list-detail:nth-child(5) {
  margin: 0 12px;
}

.item-list-ul .item-list-detail:last-child {
  margin-right: 27px;
}

/* 콜라 내부 정렬 */

.item-list-detail_img {
  height: 65px;
  width: 36px;
  padding-top: 11px;
}

.item-list-detail_name {
  font-size: 9px;
  font-weight: 500;
  line-height: 10px;
  text-align: center;
  margin: 0;
}

.item-list-detail_btu {
  width: 70px;
  height: 22px;
  color: #ffffff;
  background: #6327fe;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  border: none;
  margin-top: 7px;
}

/* 콜라 아래 기능 */

.show-money {
  width: 200px;
  height: 33px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
}

.rest-money {
  margin-top: 20px;
  margin-bottom: 11px;
  margin-left: 27px;
  display: inline-block;
  border: none;
  background-color: #eae8fe;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  padding: 6px 27px 0px 0px;
}

.rest-money::before {
  display: inline;
  content: "잔액 : ";
  position: absolute;
  top: 6px;
  left: 10px;
}
.rest-money::after {
  display: inline;
  content: " 원";
  position: absolute;
  top: 6px;
  right: 10px;
}

.item-list [class$="bottom"] {
  width: 94px;
  height: 33px;
  background-color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.return-btu_bottom {
  float: right;
  margin: 20px 27px 11px 12px;
}

[class*=btu] {
  cursor: pointer;
}

.insert-money::placeholder {
  color: #bdbdbd;
  padding-left: 6px;
}

.insert-money {
  margin: 12px 0 12px 27px;
}

.insert-btu_bottom {
  float: right;
  margin: 11px 27px 12px 8px;
}

.form-add_items {
  float: left;
  margin: 11px 0px 28px 27px;
  width: 200px;
  height: 106px;
  background-color: #eae8fe;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  overflow-y: scroll;
}

.form-add_items::-webkit-scrollbar {
  background-color: #fff;
  border-radius: 50px;
  width: 4px;
  height: 4px;
}

.form-add_items-wrap {
  width: 170px;
  height: 46px;
  background: #ffffff;
  border-radius: 5px;
  margin: 6px 18px 6px 12px;
}

.form-add_items-wrap:first-child {
  margin: 12px 18px 6px 12px;
}

.form-add_items-wrap_img {
  float: left;
  width: 18px;
  height: 33px;
  padding: 6px 0 7px 10px;
}

.form-add_items-text {
  float: left;
  font-size: 9px;
  padding: 15px 0px 15px 10px;
}

.form-add_items-number {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  margin: 8px 8px 8px 0;
}

.get-btu {
  margin: 12px 27px 28px 0px;
  float: right;
  width: 94px;
  height: 106px;
  font-weight: 700;
  font-size: 13px;
  color: white;
  border-radius: 5px;
  border: none;
  background: #6327fe;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* right box */

.my-money {
  width: 360px;
  background-color: white;
  overflow: hidden;
}

.my-money-status {
  padding: 4px 30px 4px 0px;
  background: #eae8fe;
  margin: 9px 27px;
  text-align: right;
  border-radius: 5px;
  position: relative;
  font-weight: bold;
}

.my-money-status::before {
  display: inline;
  content: "소지금 : ";
  position: absolute;
  top: 4px;
  left: 10px;
}
.my-money-status::after {
  display: inline;
  content: " 원";
  position: absolute;
  top: 4px;
  right: 10px;
}

.get-items {
  background-color: #fff;
  overflow: hidden;
  margin-top: 20px;
}


.get-items .get-items_title {
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  padding: 25px 0 13px 0;
}

.form-get-items {
  width: 306px;
  height: 364px;
  margin: 0 auto;
  background-color: #eae8fe;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}

.form-get-items::-webkit-scrollbar {
  background-color: #fff;
  border-radius: 50px;
  width: 4px;
  height: 4px;
}

.form-get-items-wrap {
  height: 46px;
  width: 276px;
  background-color: white;
  border-radius: 5px;
  margin: 6px 18px 6px 12px;
}

.form-get-items-wrap:first-child {
  margin: 12px 18px 0px 12px;
}

.form-get_items-wrap_img {
  height: 33px;
  width: 18px;
  float: left;
  margin: 6px 0px 7px 10px;
}

.form-get_items-text {
  font-size: 9px;
  float: left;
  padding: 15px 0px 15px 10px;
}

.form-get_items-number {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  margin: 8px 8px 8px 0;
}

.price-text {
  text-align: right;
  margin: 6px 38px auto auto;
  font-size: 12px;
  position: relative;
  padding-bottom: 57px;
}

.price-text::after {
  display: inline;
  content: " 원";
  position: absolute;
  top: 0;
  right: -13px;
}
